:root {
  --background-dark: #121212;
  --background-light: #1a1a1a;
  --text-light: #ffffff;
  --primary-color: #860505; /* Changed from orange to red */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.custom-accent {
  accent-color: #860505;
}

/* General Styles */
html,
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--background-dark);
  color: var(--text-light);
  overflow-x: hidden;
}

/* Page 1 */
.page1 {
  background-color: var(--background-light);
  overflow: hidden;
  height: 100vh;
}

.poster_image {
  width: 100%;
}

.move_image {
  position: absolute;
  z-index: 999;
  left: 40%;
  top: 25%;
  transition: all 0.3s ease-in-out;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* Page 2 */
#page2 {
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  align-items: center;
  background: var(--background-dark);
}

/* Card */
.card {
  position: relative;
  perspective: 1000px;
  width: 300px;
  height: 450px;
  background: var(--background-light);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-8px);
}

.card::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  transform: skewY(345deg);
  transition: 0.5s;
  opacity: 0.6;
}

.card:hover::before {
  top: -70%;
  transform: skewY(390deg);
}

.card::after {
  content: "ASUSUAL";
  position: absolute;
  bottom: 0;
  left: 16px;
  font-weight: 600;
  font-size: 3.8rem;
  color: rgba(255, 255, 255, 0.1);
}


/* Card Image */
.card .imgBox {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-top: 20px; */
  z-index: 1;
}
.card:hover .imgBox {
  transform: rotateY(180deg);
}

.card img {
  width: 19rem;
}

/* Card Content */
.card .contentBox {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.card .contentBox h3 {
  font-size: 18px;
  color: var(--text-light);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.card .contentBox .price {
  font-size: 24px;
  color: var(--text-light);
  font-weight: 700;
  letter-spacing: 1px;
}

/* Buy Button */
.card .contentBox .buy {
  position: relative;
  top: 100px;
  opacity: 0;
  padding: 10px 30px;
  margin-top: 15px;
  color: #000000;
  text-decoration: none;
  background: var(--primary-color);
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
}

.card:hover .contentBox .buy {
  top: 0;
  opacity: 1;
}

/* Mouse Image */
.mouse {
  height: 300px;
  width: auto;
}

/* Page 3 */
#page3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgBox {
  width: 100%;
  height: 300px; /* Adjust based on your image size */
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}
.card:hover .front {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s ease;
}

.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.front img,
.back img {
  width: 100%;
    height: 100%;
}

.back {
  transform: rotateY(180deg);
}

/* Responsive Design */
@media only screen and (min-width: 1024px) {
  #page2 {
    height: 70vh;
  }
  #page1 {
    height: 100vh;
  }
  .card {
    flex: 1;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Styles for medium devices */
  #page1 {
    height: 50vh;
  }
  .move_image {
    height: 260px;
    left: 40%;
  }
}

@media only screen and (max-width: 600px) {
  #page1 {
    height: 20vh;
  }
  .move_image {
    height: 110px;
    /* left: 40%; */
    top: 24%;
  }

  #page2 {  
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding:0rem 1rem 1rem 1rem;
  }

  .card {
    width: 250px;
    height: 370px;
  }

  .card .imgBox {
    padding-top: 0;
  }

  .card img {
    width: 100%;
    object-fit: fill;  
    margin-bottom: 48px;
  }

  .card .contentBox .buy {
    margin-top: 0;
    top: 0;
    opacity: 1;
  }

  .card .contentBox h3 {
    font-size: 13px;
  }

  .card .contentBox .price {
    font-size: 20px;
  }

  .mouse {
    height: 250px;
  }

  .card .contentBox {
    margin-top: -36px;
    padding: 0  ;
  }

  .card::after {
    font-size: 3rem;
    left: 11px;
  }
  .AS-nav-btn li a {
    padding: 0 15px;
  }
}

/* Notification Bar */
.notification-bar {
  background: var(--primary-color);
  color: var(--text-light);
  padding: 10px;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 100%;
  font-weight: bold;
  /* font-family: "Dancing Script", cursive; */
  font-optical-sizing: auto;
  /* font-weight: 600; */
  font-style: normal;
}

.notification-text {
  display: inline-block;
  padding-left: 100%;
}

/* user profile */
.profile-dropdown {
  position: relative;
  display: inline-block;
}

/* .profile-trigger {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
  background: #f0f0f0;
  border-radius: 5px;
  transition: background 0.3s ease;
} */

/* Style the dropdown */
.profile-details {
  display: none; /* Initially hidden */
  position: absolute;
  top: 100%;
  left: 0;
  width: max-content;
  color: white;
  background: var(--background-dark);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

/* Show dropdown when hovering over .profile-dropdown */
.profile-dropdown:hover .profile-details {
  /* margin-top: 1rem; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
  .profile-details {
    left: -100%;
    font-size: smaller;
  }
  .profile-details i {
    display: none;
  }
  .blank-notification{
    display: none;
  }
}
/* Add this to your existing CSS */
